* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

.container {
    width: 100vw;
}

/* 헤더 */
.header {
    width: 100%;
    height: 15vh;
    border-top: 2px solid black;
    background: #f6f5ef;

}

.section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
}

.logo {
    width: 5%;
    text-align: center;
}

.menu {
    width: 75%;
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

/* 위쪽 메뉴 */
.top_nav {
    width: 50%;
}

.top_nav_ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #444;
    font-size: 0.7vw;
    position: relative;
}

.top_nav_li {
    padding: 0vw 0.8vw;
    margin: 1.5vh 0vw 4vh 0vw;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}


.top_nav_li:nth-of-type(4) {
    border: none;
}

.top_nav_li:nth-of-type(5) {
    border: none;
}


.top_nav_li:hover .top_nav_a {
    border-bottom: 1px solid #444;
}

.search {
    position: absolute;
    top: 0.5vh;
    right: 0vw;
    font-size: 1.2vw;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.2vw 0.4vw;
    border-radius: 10px;
}

/* 서치부분 클릭시 width가 왼쪽으로 넓어지면서 안에 검색창되기 */

/* 위쪽 메뉴 */

/* 아래쪽 메뉴 */
.bottom_nav {
    width: 80%;
}

.bottom_nav_ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.bottom_nav_li {
    text-align: center;
    padding: 0.5vw 1vw 2.6vw 1vw;
    font-size: 0.7vw;
}

.bottom_nav_li:hover {
    background: #333;
}

.bottom_nav_a {
    display: block;
}

.bottom_nav_li:hover .bottom_nav_a {
    color: #669900;
    font-weight: bold;
    border-bottom: 1px solid #669900;
}

.list_1:focus {
    color: #669900;
    font-weight: bold;
    border-bottom: 1px solid #669900;
}

/* 아래쪽 메뉴 */



/* 서브 */
.sub_wrap_1,
.sub_wrap_2,
.sub_wrap_3,
.sub_wrap_4,
.sub_wrap_5,
.sub_wrap_6,
.sub_wrap_7 {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100vw;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 10;
}

.sub_wrap_1 {
    height: 25vh;
}

.sub_wrap_2 {
    height: 34vh;
}

.sub_wrap_3 {
    height: 15vh;
}

.sub_wrap_4 {
    height: 24vh;
}

.sub_wrap_5 {
    height: 24vh;
}

.sub_wrap_6 {
    height: 20vh;
}

.sub_wrap_7 {
    height: 23vh;
}

.cof_sub,
.cof_sub_2,
.cof_sub_3,
.cof_sub_4,
.cof_sub_5,
.cof_sub_6,
.cof_sub_7 {
    width: 10%;
    color: white;
    padding-top: 2vh;
}



.cof_sub_list,
.cof_sub_list_2,
.cof_sub_list_3,
.cof_sub_list_4,
.cof_sub_list_5,
.cof_sub_list_6,
.cof_sub_list_7 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: start;
    padding-left: 1vw;
}


.cof_sub_list:nth-of-type(1),
.cof_sub_list_2:nth-of-type(1),
.cof_sub_list_3:nth-of-type(1),
.cof_sub_list_4:nth-of-type(1),
.cof_sub_list_5:nth-of-type(1),
.cof_sub_list_6:nth-of-type(1),
.cof_sub_list_7:nth-of-type(1) {
    margin-bottom: 3vh;
}

.cof_sub_list_a,
.cof_sub_list_a_2,
.cof_sub_list_a_3,
.cof_sub_list_a_4,
.cof_sub_list_a_5,
.cof_sub_list_a_6,
.cof_sub_list_a_7 {
    line-height: 200%;
    color: #999;
    font-size: 0.6vw;
}

.cof_sub_list_a:hover,
.cof_sub_list_a_2:hover,
.cof_sub_list_a_3:hover,
.cof_sub_list_a_4:hover,
.cof_sub_list_a_5:hover,
.cof_sub_list_a_6:hover,
.cof_sub_list_a_7:hover {
    border-bottom: 1px solid #999;
    color: #669900;
}

.cof_sub_h3,
.cof_sub_h3_2,
.cof_sub_h3_3,
.cof_sub_h3_4,
.cof_sub_h3_5,
.cof_sub_h3_6,
.cof_sub_h3_7 {
    display: inline;
    font-size: 0.8vw;
    font-weight: 100;
    color: white;
}


/* 서브 */

/* 헤더 */

/* 메인 */
.main {
    border-top: 2px solid black;
    height: 32.5vw;
    background: url('/images/2023_disney2_top_bg.jpg') no-repeat center;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}

.main_slogan {
    position: absolute;
    top: 36%;
    left: 10%;
    width: 25.6%;
}

.slogan_pic {
    vertical-align: top;
    max-width: 100%;
}

.slogan_pic_m {
    display: none;
}

.pc_drink {}

.m_drink {
    display: none;
}

.slogan_btn {
    position: absolute;
    width: 25.6%;
    left: 10%;
    top: 60%;
    text-align: center;
}

.main_coffee {
    height: 100%;
}

.coffee_1 {
    position: absolute;
    top: 10.8%;
    left: 37%;
    width: 17.3%;
    z-index: 9;
}

.coffee_2 {
    position: absolute;
    top: 47%;
    left: 65.7%;
    width: 16.5%;
    z-index: 8;
}

.pc_drink_2 {}

.m_drink_2 {
    display: none;
}

.coffee_3 {
    position: absolute;
    top: 19%;
    right: 28%;
    width: 16%;
    z-index: 6;
}

.pc_drink_3 {}

.m_drink_3 {
    display: none;
}

.slogan_a {
    width: 24%;
    margin: 0 auto;
    color: #401b0d;
    border: 2px solid #401b0d;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    padding: 0.7vh 0;
    transition: 0.5s;
}

.slogan_a:hover {
    background: #401b0d;
    color: white;
    font-weight: bold;
}

/* 메인 */


/* 섹션_1 */
.section_1 {
    width: 100%;
    height: 6.5vh;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
}

.notice_left {
    background: #111;
    width: 55%;
    height: 100%;
    position: relative;
}

.left_inner {
    margin: 0 auto;
    width: 30%;
    height: 100%;
}

.left_inner_h3 {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 19px;
}

.left_inner_ul {
    position: absolute;
    top: 24px;
    right: 27%;
    width: 30%;
    height: 20px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

.left_inner_li {
    transform: translateY();
    animation: left_inner_li 10s normal infinite;
}

@keyframes left_inner_li {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-40px);
    }

    75% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0px);
    }
}

.left_inner_li>a {
    color: white;
}

.left_inner_btn {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    top: 11.8px;
    right: 20px;
    font-size: 20px;
    padding: 7px 10px;
    cursor: pointer;
}

.notice_right {
    background: white;
    width: 45%;
    height: 100%;
    position: relative;
}

.right_inner {
    position: absolute;
    top: 16.8px;
    left: 220px;
}

.right_inner_btn {
    position: absolute;
    background: none;
    border: 1px solid black;
    border-radius: 100px;
    color: black;
    top: 11.8px;
    right: 400px;
    font-size: 30px;
    padding: 1.5px 5.4px;
    cursor: pointer;
}

/* 섹션_1 */

/* 프로모션 배너 */


/* 프로모션 배너 */


/* 섹션_2 */
.section_2 {
    width: 100%;
    height: 25vh;
    background: #1e3932;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

.section_2_inner {
    width: 57%;
    height: 100%;
    margin: 0 auto;
}

.section_2_logo {
    float: left;
    width: 16.3%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.section_2_logo>img {
    width: 176px;
}

.section_2_conts {
    float: left;
    width: 70%;
    padding-right: 30px;
    color: white;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 22px;
    border-bottom: 1px solid #4b615b;
}

.section_2_conts_top {
    margin-bottom: 12px;
}

.conts_top_h2 {
    line-height: 1.4;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: normal;
}

.conts_top_p {
    line-height: 1.4;
    font-size: 17px;
}

.sign_in_btn {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 0;
}

.sign_in_btn>button {
    display: inline-block;
    height: 38px;
    line-height: 36px;
    padding-left: 18.5px;
    padding-right: 18.5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.sign_in {
    background-color: #00704a;
    border: 2px solid #00704a;
}

.sign_in>a {
    color: white;
}

.sign_in>a:hover {
    border-bottom: 1px solid white;
}

.log_in {
    margin-left: 9px;
    background-color: transparent;
    border: 2px solid #fff;
}

.log_in>a {
    color: white;
}

.log_in>a:hover {
    border-bottom: 1px solid white;
}

.section_2_conts_2 {
    color: white;
    width: 70%;
    float: left;
    position: relative;
}

.section_2_conts_bottom_p {
    line-height: 1.4;
    font-size: 14px;
}

.gift_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 183px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.gift_btn_a {
    color: white;
}

.gift_btn_a:hover {
    border-bottom: 1px solid white;
}

/* 섹션_2 */

/* 섹션_3 */
.section_3 {
    height: 573px;
    background: url('/images/2023_autumn_promotion_bg.jpg') no-repeat center
}

/* 섹션_3 */